<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header th:fragment="header">
        <div id="header_wrap">
            <h3>소방전용 구역주차 및 진입로 차량 감지·관제 시스템</h3>
        </div>
    </header>

    <nav th:fragment="nav">
        <div id="nav_wrap">
            <a th:href="@{/admin}">HOME</a>

            <!-- 로그인 전 승인 상태 확인 -->
            <th:block sec:authorize="!hasAnyRole('ADMIN', 'SUPER_ADMIN')">
                <a th:href="@{/admin/signup}">관리자 가입</a>
                <a th:href="@{/admin/signin}">로그인</a>
            </th:block>

            <!-- 로그인 후 목록 -->
            <th:block sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')">
                <a th:href="@{/admin/members}">회원 관리</a>
                <a th:href="@{/monitoring}">관제화면</a>
                <a th:href="@{/detection}">탐지 목록</a>
                <a th:href="@{/planner}">Planner</a>
                <a sec:authorize="hasAuthority('LOG_VIEW')" th:href="@{/logs}">로그 목록</a>
                <a th:href="@{/admin/mypage}">내 정보 조회</a>

                <form th:action="@{/admin/logout}"
                      method="post"
                      style="display: inline;">
                    <button type="submit">로그아웃</button>
                </form>
            </th:block>
        </div>
    </nav>

    <footer th:fragment="footer">
        <div id="footer_wrap">
            Copyright OFFICE Corp. ALL Rights Reserved.
        </div>
    </footer>

</html>


